* {
  font-family: "PT Sans", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  margin: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  max-width: 20%;
  width: 20%;
  min-width: 20%;
  height: 100vh;
  top: 0;
  left: 0;
  flex: 1 0 auto;
  padding-left: 80px;
}

.right-side {
  width: 80%;
  max-width: 80%;
  background-color: rgb(161, 161, 161);
}

li {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: white;
}

.logo-stuff {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  flex-basis: 10%;
  font-size: 30px;
  font-weight: bold;
}

.sidebar-list1 {
  padding-top: 60px;
  padding-bottom: 100px;
}

.sidebar-list1,
.sidebar-list2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  padding-left: 0px;
}

.header1 {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  background-color: rgb(230, 230, 230);
  padding-right: 80px;
}

.search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.notif-profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.image-hi,
.three-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  background-color: rgb(230, 230, 230);
  padding-right: 80px;
}
.big-grey-section {
  display: flex;
  background-color: rgb(161, 161, 161);
  justify-content: space-evenly;
  height: 85vh;
}

.right-corner {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 20%;
  justify-content: flex-start;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(3, 220px);
  grid-gap: 30px 30px;
  padding-left: 0px;
  background-color: rgb(161, 161, 161);
  align-content: center;
  height: auto;
  width: auto;
}

.announcements-grid {
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 0 10px -5px #333;
  font-size: 14px;
}

.person1,
.person2,
.person3,
.person4 {
  display: flex;
  gap: 20px;
  width: 300px;
  height: 65px;
}

.trending-grid {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  align-items: flex-start;
  box-shadow: 5px 0 10px -5px #333;
  font-size: 14px;
  background-color: rgb(230, 230, 230);
  align-items: space-around;
}
h4 {
  padding-left: 0px;
  font-size: larger;
}

.full-header {
  background-color: rgb(230, 230, 230);
}

.square-background-color {
  background-color: rgb(230, 230, 230);
  padding: 10px;
}

.projects-rounded-border {
  border-radius: 5px;
  box-shadow: 5px 0 10px -5px #333;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 16px;
}

input.search-bar {
  width: 600px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  background-color: #e2e1e1;
  height: 30px;
}
.three-btn-header {
  background-color: black;
  color: white;
  border: 0;
  border-radius: 5px;
  width: 120px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-header {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rounded-img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

b {
  font-size: large;
  font-weight: bolder;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  gap: 12px;
}

p {
  color: rgb(49, 49, 49, 0.7);
  font-weight: 600;
}

.grey-hashtag-desc {
  margin: 4px;
}
.project-section {
  width: 45vw;
}
.faint-line,
.faint-line-trending {
  height: 1px;
  width: 100%;
  background-color: rgb(206, 206, 206);
}

.bell-notif,
.mag-glass,
.star-btn,
.eye-btn,
.share-btn {
  all: unset;
  cursor: pointer;
}

.mdi {
  font-size: 26px;
}

.mdi-view-dashboard-outline {
  font-size: 48px;
}
